<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class="bb">
<h1 class="autofficina">Autofficina(Intervento)</h1>
<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>

<div th:if="${visitor.getRole().equals('ADMIN')}" class="wrapper">
    <ul>
        <li><a th:href="@{/index}" >Home</a></li>
        <li><a th:href="@{/tipologiainterventi}">TipologieInterventi</a></li>
        <li><a th:href="@{/interventi}">Interventi</a></li>
        <li><a th:href="@{/utenti}">AnagraficaClienti</a></li>
        <li><a th:href="@{/meccanici}">Meccanici</a></li>
        <li><a th:href="@{/profile}">Profilo</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>
<div th:if="${visitor.getRole().equals('CLIENTE')}" class="wrapper">
    <ul>
        <li><a th:href="@{/index}" >Home</a></li>
        <li><a th:href="@{/interventi}">InterventiEffettuati</a></li>
        <li><a th:href="@{/tipologiainterventi}">TipologieOfferte</a></li>
        <li><a th:href="@{/profile}">Profilo</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>

<div class="card-container">
    <h3 th:text="${intervento.getTipologiaIntervento().nome}"></h3>
    <h6 th:text="${intervento.getTipologiaIntervento().descrizione}"></h6>
    <div class="skills">
        <h6 th:text="'Prezzo : € ' + ${intervento.getTipologiaIntervento().costo}"></h6>
        <h6 th:text="'Meccanico: ' + ${intervento.getMeccanico().nome} + ${intervento.getMeccanico().cognome}"></h6>
        <h6 th:text="'Cliente: ' + ${intervento.getCliente()}"></h6>
        <h6 th:text="'Data di prenotazione: ' + ${intervento.getDataPrenotazione().getDayOfMonth() + ' ' + intervento.getDataPrenotazione().getMonth() + ' ' + intervento.getDataPrenotazione().getYear() + ' ' + intervento.getDataPrenotazione().getHour() + ': ' + intervento.getDataPrenotazione().getMinute()}"></h6>
        <h6 th:if="${intervento.getDataIntervento()!=null}" th:text="'Data Intervento: ' + ${intervento.getDataIntervento().getDayOfMonth() + ' ' + intervento.getDataIntervento().getMonth() + ' ' + intervento.getDataIntervento().getYear()}"></h6>
    </div>
    <div th:if="${visitor.getRole().equals('ADMIN')}">
        <a th:href="@{|/intervento/${intervento.getId()}/edit|}"><i></i> <span>Modifica Intervento</span></a>
    </div>
</div>
</body>
</html>